<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267301062234-8q8n6s3eev6ef1vf0vk1h8hhjteif7oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267301062234-8q8n6s3eev6ef1vf0vk1h8hhjteif7oa</string>
	<key>API_KEY</key>
	<string>AIzaSyDVTa10j31bQvEtobIxwLCyJ-nCX3lKXqI</string>
	<key>GCM_SENDER_ID</key>
	<string>267301062234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kolex.Catenaccio</string>
	<key>PROJECT_ID</key>
	<string>catenaccio-14366</string>
	<key>STORAGE_BUCKET</key>
	<string>catenaccio-14366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267301062234:ios:6a3bf1ec15c6eba3</string>
	<key>DATABASE_URL</key>
	<string>https://catenaccio-14366.firebaseio.com</string>
</dict>
</plist>